.sliderWrapper {
  margin: 70px auto 50px;
}

.heroImg img {
  height: 90vh !important;
  object-fit: cover;
  object-position: top;
}

@media only screen and (max-width: 768px) {
  .heroImg img {
    height: 500px !important;
  }
}
